.login {

	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#modalhead{
	background: #2D2B2B;
}
#myModalLabel
{	color:white;
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------------*/


